/* Horizontal nav bar*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#nav_bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}
nav {
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3em;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.img_container {
  text-align: center;
  background-color: rgb(255, 165, 0);
  display: inline-block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.img_container img {
  width: 60%;
  height: auto;
  display: inline;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.img_container h1 {
  position: absolute;
  width: 50%;
  top: 70%;
  left: 20%;
  color: white;
  font-size: 2.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

#icon_container {
  display: flex;
  float: left;
  justify-content: center;
  gap: 40px;
  padding-top: 5px;
}
#icon_container img {
  width: 4vw;
  height: 4vw;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    "options options"
    "intro aside"
    "content content";
}

#options {
  grid-area: options;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: darkgrey;
}

#options p {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.intro {
  grid-area: intro;
  background-color: green;
  padding: 10px;
  font-size: 1vw;
}
.intro hr {
  border: 1px solid white;
}

.stickers {
  display: block;
  float: right;
  width: 6vw;
  height: auto;
  margin-left: 20px;
}

aside {
  grid-area: aside;
  background-color: lightblue;
  padding: 10px;
  font-size: 2vw;
}
#aside_container {
  position: sticky;
  top: 10px;
}

.content {
  grid-area: content;
  background-color: lightgrey;
  padding: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-style: italic;
}

/* Responsive design for smaller screens */
@media (min-width: 701px) and (max-width: 1280px) {
  
}

@media (max-width: 700px) {

}

