/*Custom font import*/
@font-face {
  font-family: "Bitcount Prop Single Ink";
  src: url("font/Bitcount_Grid_Single/static/BitcountGridSingle-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: auto;
  font-family: Arial, sans-serif;
}

#nav_bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}
nav {
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3vw;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2vw;
}
nav a:hover {
  text-decoration: underline;
}
#logo {
  text-align: right;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Bitcount Prop Single Ink", system-ui;
}

.img_container {
  text-align: center;
  background-color: rgb(255, 165, 0);
  display: inline-block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.img_container img {
  width: 60%;
  height: auto;
  display: inline;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  opacity: 0.8;
}
.img_container h1 {
  text-align: left;
  position: absolute;
  top: 70%;
  left: 20%;
  color: white;
  font-size: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  z-index: 999;
}

#icon_container {
  display: flex;
  float: left;
  justify-content: center;
  gap: 40px;
  padding-top: 5px;
}
#icon_container img {
  width: 4vw;
  height: 4vw;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    "options options"
    "intro aside"
    "content content";
}

#options {
  grid-area: options;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: darkgrey;
}

#options p {
  font-size: 1.5vw;
  padding: 10px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.intro {
  grid-area: intro;
  background-color: green;
  padding: 10px;
  font-size: 1vw;
}
.intro hr {
  border: 1px solid white;
}

.stickers {
  display: block;
  float: right;
  width: 6vw;
  height: auto;
  margin-left: 20px;
}

aside {
  grid-area: aside;
  background-color: lightblue;
  padding: 10px;
  font-size: 1.5vw;
}
aside h2 {
  text-align: center;
  font-family: "Bitcount Prop Single Ink", system-ui;
}
#aside_container {
  position: sticky;
  top: 10px;
}
#strong_towns_link {
  font-weight: bold;
  display: block;
  border: 2px solid darkblue;
  padding: 10px;
  text-align: center;
  background-color: orange;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#strong_towns_link a {
  color: darkblue;
  text-decoration: none;
  font-size: 2vw;
}

.content {
  grid-area: content;
  background-color: lightgrey;
  padding: 10px;
  font-size: 1vw;
}
figure {
  text-align: center;
}
figcaption {
  font-style: italic;
  font-size: 20px;
  color: #555;
}
figure img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  opacity: 0.8;
  margin-top: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-style: italic;
}

button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#metros_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.metro_card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 18vw;
  padding: 10px;
  text-align: center;
}
.metro_card h3 {
  margin-top: 10px;
  font-size: 1.2vw;
}
.metro_card ul {
  text-align: left;
  padding-left: 20px;
  gap: 5px;
}
.metro_card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.old_vehicles {
  width: 50%;
  height: auto;
  margin-top: 10px;
}
/* Responsive design for tablet screens */
@media (min-width: 701px) and (max-width: 1280px) {
  nav a {
    font-size: 1.5vw;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "options"
      "intro"
      "aside"
      "content";
  }
  .img_container img {
    width: 75%;
  }
  .img_container h1 {
    font-size: 3vw;
    left: 12.5%;
  }
  .intro {
    font-size: 1.5vw;
  }
  aside {
    font-size: 1.5vw;
  }
  #options {
    display: block;
  }
  #icon_container {
    justify-content: space-around;
    float: none;
  }
  .stickers {
    width: 9vw;
  }
  #strong_towns_link a {
    font-size: 3vw;
  }
  .content {
    font-size: 2vw;
  }
  .metro_card {
    width: 40vw;
  }
  .metro_card .read_more_button {
    font-size: 2vw;
  }
  .metro_card h3 {
    font-size: 2vw;
  }
}

/* Responsive design for mobile screens */
@media (max-width: 700px) {
  nav a {
    font-size: 3vw;
  }
  #logo {
    text-align: center;
    color: white;
    font-size: 4vw;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "options"
      "intro"
      "aside"
      "content";
  }
  .intro {
    font-size: 3vw;
  }
  aside {
    font-size: 3vw;
  }
  #options {
    display: block;
  }
  #icon_container {
    display: none;
  }
  #options p {
    font-size: 3vw;
  }
  .img_container img {
    width: 90%;
  }
  .img_container h1 {
    font-size: 4vw;
    left: 5%;
  }
  figure img {
    max-width: 80%;
  }
  .stickers {
    width: 12vw;
  }
  #strong_towns_link a {
    font-size: 4vw;
  }
  .content {
    font-size: 3vw;
  }
  .metro_card {
    width: 80vw;
  }
  .metro_card .read_more_button {
    font-size: 3vw;
  }
  .metro_card h3 {
    font-size: 3vw;
  }
}
