<h3>History</h3>
<p>
  The automobile was invented in the late 19th century and quickly became a
  popular mode of transportation. Over the years, cars have evolved
  significantly, with advancements in technology leading to improved safety,
  performance, and fuel efficiency.
</p>
<img src="/img/old_vehicles/old_car.jpeg" alt="old_car" class="old_vehicles" />
<h3>Importance of Cars</h3>
<p>
  Cars are a common mode of transportation, offering convenience and flexibility
  for short to medium distances. However, they contribute to traffic congestion
  and environmental pollution.
</p>
<h3>Our Perspective</h3>
<p>
  Let's make one thing clear: cars are not just a means of transportation; they
  are a symbol of freedom, status, and personal expression to many. From the
  sleek curves of a sports car to the rugged durability of a jeep, cars reflect
  our personalities and lifestyles.
</p>
<h3>Concerns</h3>
<p>
  Our qualms are not with cars themselves but with how we use them and the
  infrastructure centered around them. Urban sprawl, traffic congestion, and
  pollution, and social division are all byproducts of a car-centric society.
  The challenge lies in balancing our love for cars with sustainable urban
  planning and environmental stewardship.
</p>
<p>
  In fact, any car lover who understands the urban impacts of car-centric
  infrastructure would agree that promoting alternative transportation methods
  is essential for creating healthier, more livable cities. And more
  importantly, it gives them more space to drive and enjoy their vehicles.
</p>
<h3>The way forward</h3>
<p>
  Embracing a multi-modal transportation approach that includes public transit,
  cycling, and walking can help mitigate the negative impacts of car-centric
  infrastructure. Investing in green technologies, such as electric vehicles and
  sustainable urban planning, can also pave the way for a more balanced and
  environmentally friendly transportation future.
</p>
